<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>

    <h1>Pericon</h1>
    <div class="points">
        <div class="my-points">My points: <span>0</span></div>
        <div class="opponent-points">Opponent points: <span>0</span></div>
    </div>
    <div class="opponent-cards"></div>
    <div class="openent-card-current"></div>
    <div class="middle-card"></div>
    <div class="my-card-current"></div>
    <div class="my-cards"></div>

    <button class="next" disabled>More cards</button>

    <script>

        // get room name form url http://127.0.0.1:8000/pericon/match/zvuinx/
        const room_name = window.location.pathname.split('/').slice(-2)[0]

        // TODO: get ws api from settings
        const wsHost = 'ws://' + window.location.host
        const wsPath = wsHost + `/ws/pericon/match/${room_name}/`

        const matchSocket = new WebSocket(wsPath)

        // random username
        let username = "user"
        username += + Math.floor(Math.random() * 1000)

        // send username to the server after connection is open
        matchSocket.onopen = function (e) {
            matchSocket.send(JSON.stringify({
                'type': 'username',
                'value': username
            }))
        }

        // request more cards with button
        const nextButton = document.querySelector('.next')
        nextButton.addEventListener('click', function () {
            matchSocket.send(JSON.stringify({
                'type': 'more cards',
                'value': ''
            }))
            nextButton.disabled = true
        })

        matchSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            console.log(data)

            if (data.type === 'round cards') {

                // render my card (as buttons) card whet get them
                const roundCards = data.value
                roundCards.forEach(card => {
                    const cardButton = document.createElement('button')
                    cardButton.textContent = card
                    cardButton.onclick = function () {
                        matchSocket.send(JSON.stringify({
                            'type': 'use card',
                            'value': card
                        }))
                    }
                    const myCardsWrapper = document.querySelector('.my-cards')
                    myCardsWrapper.appendChild(cardButton)
                })

                // render opent cards
                const opponentCards = document.querySelector('.opponent-cards')
                opponentCards.innerHTML = ''
                roundCards.forEach(card => {
                    const cardButton = document.createElement('button')
                    cardButton.textContent = "???"
                    opponentCards.appendChild(cardButton)
                })
            }

            if (data.type === 'middle card') {

                // delete old middle card
                const middleCard = document.querySelector('.middle-card')
                middleCard.innerHTML = ''

                const card = data.value

                // render middle card as button with text
                const cardButton = document.createElement('button')
                cardButton.textContent = card
                middleCard.appendChild(cardButton)
            }


            // render errors
            if (data.type === 'error') {
                alert(data.value)
            }

            // render round openent card
            if (data.type === 'round played cards') {
                // loop cards
                for (card of data.value) {
                    const player = card.player
                    const cardValue = card.card

                    if (player === username) {
                        const myCardCurrent = document.querySelector('.my-card-current')
                        myCardCurrent.innerHTML = ''
                        const cardButton = document.createElement('button')
                        cardButton.textContent = cardValue
                        myCardCurrent.appendChild(cardButton)

                        // remove cards from my cards
                        const myCardsWrapper = document.querySelector('.my-cards')
                        const myCards = myCardsWrapper.querySelectorAll('button')
                        for (myCard of myCards) {
                            if (myCard.textContent === cardValue) {
                                myCardsWrapper.removeChild(myCard)
                            }
                        }

                    } else {
                        const opponentCardCurrent = document.querySelector('.openent-card-current')
                        opponentCardCurrent.innerHTML = ''
                        const cardButton = document.createElement('button')
                        cardButton.textContent = cardValue
                        opponentCardCurrent.appendChild(cardButton)

                        // remove one card from opponent cards
                        const opponentCards = document.querySelector('.opponent-cards')
                        const opponentCardsButtons = opponentCards.querySelectorAll('button')
                        const firstButton = opponentCardsButtons[0]
                        opponentCards.removeChild(firstButton)
                    }
                }
            }

            // Show winner
            if (data.type === "round winner") {
                const winner = data.value

                if (winner === 'draw') {
                    alert('Draw')
                } else {
                    if (winner === username) {
                        alert('You win this round')
                    } else {
                        alert('You lose this round')
                    }
                }

                // count available cards
                const myCards = document.querySelector('.my-cards').querySelectorAll('button')
                if (myCards.length === 0) {
                    const nextButton = document.querySelector('.next')
                    nextButton.disabled = false
                }
            }

            // update points
            if (data.type === 'points') {
                const points = data.value
                const myPoints = document.querySelector('.my-points span')
                const opponentPoints = document.querySelector('.opponent-points span')

                data.value.forEach(point => {
                    if (point.player === username) {
                        myPoints.textContent = point.points
                    } else {
                        opponentPoints.textContent = point.points
                    }
                })
            }

            // show winner and end game
            if (data.type === 'game winner') {
                const winner = data.value
                if (winner === username) {
                    alert('You win the game')
                } else {
                    alert('You lose the game')
                }

                // disable all buttons
                const buttons = document.querySelectorAll('button')
                buttons.forEach(button => {
                    button.disabled = true
                })
            }

        }

        matchSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly')
        }



    </script>
</body>

</html>